@font-face {
    font-family: Sahel;
    src: url(../Sahel.woff);
}

body {
    font-family: 'Sahel' !important;
    direction: ltr;
    text-align: right !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
    border: none !important;
}

.active {
    color: brown;
}

ul .tree-children a,
ul .tree-children p {
    display: none;
}